{{#each this}}
  <div class="news_item">
    <img src="{{urlToImage}}" alt="" />
    <h2 class="news_title">{{title}}</h2>
    <p class="content">
      {{description}}
    </p>
    <p class="news_date">{{publishedAt}}</p>
    <a class="news_link" href="{{url}}">{{author}}</a>
  </div>
{{/each}}